.edit {
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}

.statistics_card {

    box-shadow: 0 4px 8px 0 var(--drop-shadow-color);
    margin: 20px;
    padding: 20px;
    background-color: var(--background-color3);
    /*height: 100px;*/
    max-height: 100px;
    width: 15%;
    height: 60px;
    overflow: auto;
}

.h1-admin {
	color: var(--foreground-color5); 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 32px;
	margin: 20px 0 10px;
}


/* Style the search field */
.form-example input[type=text] {
	font-size: 17px;
	float: left;
	width: 20%;
	max-width: 20%;
	background: #f1f1f1;
	display: inline-block;
}

/* Style the submit button */
.button-sc {
	float: left;
	width: 10%;
	max-width: 10%;
	height: 40px;
	padding: 10px;
	background: #7c795d;
	color: white;
	font-size: 17px;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

.form-example .button-sc:hover {
  background: #e5601d;
}

/* Clear floats */
.form-example::after {
  content: "";
  clear: both;
  display: table;
}

tr:nth-child(even) {
	background-color: var(--table-row-even-color);
}

tr:nth-child(odd) {
	background-color: var(--table-row-odd-color);
}