html, body {
    padding: 0;
    margin: 0;
}

/* Header style */
.logo {
    height: 80px;
    float: left;
    /*border: 3px solid #ccc;*/
}

.header {
    height: 80px;
    /*border: 3px solid #ccc;*/
    /*background-color: #888;*/
}

.login {
    padding-top: 15px;
    position: fixed;
    width: 99%;
    text-align: right;
    /*border: 3px solid #ccc;*/
}
/* End header style*/



/* End dropdown */
/* Dropdown Button */
.dropbtn {
    background-color: var(--logo-pink);
    color: var(--foreground1);
    padding: 5px 5px;
    margin: 8px 8px;
    border: none;
    width: 100px;
    height: 35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--foreground1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--background1);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--background1);
} 
/* End dropdown */



/* Login style */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {

    width: 150px;
    height: 35px;
    padding: 5px 5px;
    margin: 8px 8px 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for login buttons */
.loginbtn {
    background-color: var(--logo-pink);
    color: var(--foreground1);
    padding: 5px 5px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

/* Add a hover effect for buttons */
.loginbtn:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    /*background-color: #f44336;*/
    background-color: var(--background1);
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 
/* End login style */


/* Navigation bar styles*/
/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    /*background-color: #333;*/
    background-color: var(--background1);
    overflow-y: visible;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    /*color: #f2f2f2;*/
    color: var(--foreground1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #ddd;*/
    /*color: black;*/
    background-color: var(--background2);
    color: var(foreground1);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--logo-pink);
    /*color: white;*/
    color: var(--foreground1);
}

/* End navigation bar styles*/


/* Side bar styles */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111;*/
    background-color: var(background1);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: var(foreground2);
    display: block;
    transition: 0.3s;
}

.span:hover{
    /*color: #f1f1f1;*/
    color: var(foreground1);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    /*color: #f1f1f1;*/
    color: var(foreground1);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {

    transition: margin-left .5s;
    padding: 100px 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

/* End side bar styles */