body {
	background-color: var(--background-color3);
}

:root {

	/* Calendar */
	--calendar-active-month-color: #27AE60;
	--calendar-hover-color: #27e879;
	--calendar-event-color: #2980B9;
	--calendar-main-color: #e5601d;
	--calendar-unfocused-color: #888888;

	/* Main */
	--foreground-color1: #4c4a37; /* Text */
	--foreground-color2: #7c795d; /* Button, links, etc */
	--foreground-color3: #e5601d; /* Buttons, links, etc, in hover or focus */
	--foreground-color4: #dddddd; /* Text 2 */
	--foreground-color5: #7c795d; /* Headers */
	
	--background-color1: #7c795d; 
	--background-color2: #cccccc; 
	--background-color3: #ffffff;
	--background-color4: #f2f2f2;
	
	--background-focused-color1: #cccccc;
	--background-focused-color2: #e5601d; /* Buttons, links, etc, in hover or focus */

	--border-color: #cccccc;

	--drop-shadow-color: rgba(0, 0, 0, 0.2);
	
	/* Slides */
	--slides-hover-color: #717171;

	/* Tables */
	--table-row-even-color: #f2f2f2;
	--table-row-odd-color: #ffffff;
}

input {
	/* Force input text and background color to avoid text blending with bg */
	color: var(--foreground-color1); 
	background-color: var(--background-color3);
}