:root {

	/* Calendar */
	--calendar-active-month-color: #27AE60;
	--calendar-hover-color: #27e879;
	--calendar-event-color: #2980B9;
	--calendar-main-color: #2ECC71;

	/* Main */
	--foreground-color1: #4c4a37;
	--foreground-color2: #7c795d;
	
	--background-color1: #7c795d;

	--slides-hover-color: #717171;

	--color8: #888888;
	--color9: #8b8b8b;
	--color10: #AAAAAA;
	--color13: #cccccc;
	--color14: #dcdcdc;
	
	--color15: #dddddd;
	--color17: #E8E8E8;

	--color16: #e5601d;
	--color18: #f0f0f0;
	--color19: #f1f1f1;
	--color20: #f2f2f2;
	--color21: #f44336;
	--color22: #f9f9f9;
	--color23: #fefefe;
	--color24: #ffffff;

	--drop-shadow-color: rgba(0, 0, 0, 0.2);
}