@import 'general.css';

.navbar {
	background-color: var(--custom-orange);
}

.icon { 
	font-size: 20px;
	color: var(--custom-orange);
}

/* Login input */
.input {
	color: var(--custom-green);	
}

label.active {
	color: var(--custom-orange) !important;
}

i.active {
	color: var(--custom-orange) !important;
}

/* Logo */
#logo {
	height: 54px;
	margin-top: 5px;
	margin-left: 20px;
}