@import 'general.css';

.navbar {
	background-color: var(--custom-orange);
}

.icon { 
	font-size: 20px;
	color: var(--custom-orange);
}

<<<<<<< HEAD
/* Login input */
=======
>>>>>>> master
.input {
	color: var(--custom-green);	
}

label.active {
	color: var(--custom-orange) !important;
}

i.active {
	color: var(--custom-orange) !important;
}

.responsiveLogo {
	margin: 5px;
	margin-left: 10px;
	height: 56px;
	max-width: auto;
}

@media only screen and (max-width: 600px)  {
	.responsiveLogo {
		margin: 3px;
		height: 49px;
		max-width: auto;
	}
}

.topHeader {
	margin-bottom: 0px;
}

.topHeaderInput {
	margin: 0px;
}