@import 'general.css';

.navbar {
	background-color: var(--custom-orange);
}

.icon { 
	font-size: 20px;
	color: var(--custom-orange);
}

.input {
	color: var(--custom-green);	
}

.active {
	color: var(--custom-green) !important;
}

#logo {
	height: 54px;
	margin-top: 5px;
	margin-left: 20px;
}