/* User profile page style
 *
 * Giovanna Oliveira Guimarães 9293693
 * Lucas Alexandre Soares 9293265
 * Luca Gomes Urssi 10425396
 * Rafael do Fake News 9293095
 *
 */

@import 'general.css'
@import 'tabs.css'

.scaler {
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari */
    transform: scale(0.8, 0.8);
}

h1.label {
	color: var(--custom-green); 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 32px;
	margin: 20px 0 10px;
}

h4.label {
	color: var(--custom-green);
	font-family: 'Source Sans Pro', sans-serif;
}

.settings_input[type=password] {
    padding: 10px;
    font-size: 17px;
    float: left;
}

.profile-pic {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	float: left;
	margin-left: 40px;
	margin-right: 80px;
}

@media only screen and (max-width: 992px) {

		h1.label {
			font-size: 25px;
			line-height: 40px;
			margin: 15px 0 25px;
		}

		h4.label { 
			line-height: 14px;
			font-size: 18px; 
		}

		.settings_input[type=password] { 
			font-size: 14px;
			height: 70%;
		}

	@media only screen and (max-width: 600px) {
		.scaler {
		    -ms-transform: scale(0.9, 0.9); /* IE 9 */
		    -webkit-transform: scale(0.9, 0.9); /* Safari */
		    transform: scale(0.9, 0.9);
		}

		h1.label {
			font-size: 22px;
			line-height: 24px;
			margin: 15px 0 10px;
		}

		h4.label { 
			line-height: 14px;
			font-size: 16px; 
		}

		.settings_input[type=password] { 
			width: 80%;
			font-size: 12px; 
		}

		.profile-pic {
			width: 100px;
			height: 100px;
			margin-left: 0;
			margin-right: 15px;
		}
	}
}