@import 'general.css';

.slick-next::before, .slick-prev::before {

    /*font-size: 22px;*/
    /*line-height: 1;*/
    /*opacity: .75;*/
    color: black;

}

.slick-list {
	margin: 10px 0 20px 0;
	height: 450px;
}

.slick-slide {
	margin-right: 10px;
	margin-left: 10px;
	width: 400px !important;
}

@media only screen and (max-width: 992px) {

	.slick-slide {
		margin-right: 10px;
		margin-left: 10px;
		width: 300px !important;
	}

	.slick-list {
		height: 390px;
	}

	@media only screen and (max-width: 600px) {
	
		.slick-slide {
			margin-right: 10px;
			margin-left: 10px;
			width: 200px !important;
		}

		.slick-list {
			height: 330px;
		}
	}
}

/*
.slick-next::before{
    padding-left: 10px;
} 

.slick-prev::before {
    padding-right: 100px;
}*/