.tabs .tab a {
		color: var(--custom-green) !important;
	}

	.tabs .tab a:hover {
		color: var(--custom-orange) !important;
	}

	.tabs .tab .active {
		color: var(--custom-orange) !important;
	}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
	.tabs .tab a {
		background-color: black !important;
	}

	.tabs .tab a:hover {
		background-color: black !important;
	}

	.tabs .tab .active {
		background-color: black !important;
	}
}

.tab {
	width: 25% !important;
}

.indicator {
	background-color: var(--custom-orange) !important;
}

