/* Stylesheet for time picker - input of type 'time' (clock)
 *
 * Giovanna Oliveira Guimarães 9293693
 * Lucas Alexandre Soares 9293265
 * Luca Gomes Urssi 10425396
 * Rafael do Fake News 9293095
 *
 */

@import 'general.css';

/* clock selector style override */
line {
 	stroke: var(--custom-green) !important;
}

/* big circle */
.clockpicker-canvas-bg {
	fill: var(--custom-green) !important;
}

/* small circle */
.clockpicker-canvas-bearing {
	fill: var(--custom-green) !important;	
}