/* Login stylesheet
 *
 * Giovanna Oliveira Guimarães 9293693
 * Lucas Alexandre Soares 9293265
 * Luca Gomes Urssi 10425396
 * Rafael do Fake News 9293095
 *
 */


/* Header style */
.logo {
    height: 80px;
    float: left;
    padding: 5px 10px;
}

/* End header style */

/* Login style */
/* Full-width inputs */
.login_input[type=text], .login_input[type=password] {
    width: 150px;
    height: 35px;
    padding: 5px 5px;
    margin: 8px 8px 8px 0px;
    display: inline-block;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

/* Set a style for login buttons */
.loginbtn {
    z-index: 99;
    border: none;
    outline: none;
    width: 120px;
    height: 35px;
    background-color: var(--background-color1);
    color: white;
    cursor: pointer;
    margin: 8px 8px;
    border-radius: 4px;
}

/* Add a hover effect for buttons */
.loginbtn:hover {
    background-color: var(--foreground-color3);
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: var(--background1);
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 
/* End login style 

/* Sign up form and modal box css */
.mySlides {
    display: none;
    /*margin: 5px -15px;*/
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: var(--foreground-color4); /* Grey text */
    width: 100%; /* Full width */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.slideshow-container .content > h1 {
    padding-left: 20px;
    padding-right: 20px;
}
.slideshow-container .content > p {
    padding-left: 20px;
    padding-right: 20px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
    color: var(--foreground-color4);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--slides-hover-color);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
/* End sign up form and modal box css */