/* Petshop Access source file
 *
 * Giovanna Oliveira Guimarães 9293693
 * Lucas Alexandre Soares 9293265
 * Luca Gomes Urssi 10425396
 * Rafael do Fake News 9293095
 *
 */


.search_input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--border-color);
    float: left;
    width: 60%;
    background: var(--background-color4);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search_button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 68px;
}

.search {
    padding-bottom: 20px;
    font-size: 17px;
    max-width: 226px;
}

.search .search_button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--background-color1);
    color: var(--foreground-color4);
    font-size: 17px;
    border: 1px solid var(--border-color);
    border-left: none;
    cursor: pointer;
}

.search_button:hover {
    background-color: var(--background-focused-color2);
}

.search::after {
    content: "";
    clear: both;
    display: table;
}